{namespace we=Tx_WeMap_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div id="map_canvas" style="width: 100%; height: 400px"></div>
<script type="text/javascript">
	var initLat = 11.539424;

	var initLon = 104.921803;
	var initZoom = 13;

	function initializeWorldMap() {
		var centerLatLng = new google.maps.LatLng(initLat, initLon);
		var myOptions = {
			zoom: initZoom,
			draggable: true,
			disableDefaultUI: false,
			center: centerLatLng,
			scrollwheel: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			zoomControlOptions: {
				style:google.maps.ZoomControlStyle.LARGE
			},
			mapTypeControl: true
		};

		var maps = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var marker = new google.maps.Marker({
			map: maps,
			icon: 'http://maps.google.com/mapfiles/marker.png',
			draggable: false,
			position: new google.maps.LatLng(initLat, initLon),
			visible: true
		});

		var myOptions = {
				disableAutoPan: false
				,maxWidth: 0
				// set the position of map
				,pixelOffset: new google.maps.Size(-100,-202)
				,zIndex: null
				,boxStyle: {
					opacity: 1
				}
				,closeBoxMargin: "11px 27px -10px 0px"
				//,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
				,closeBoxURL: ""
				,infoBoxClearance: new google.maps.Size(1, 1)
				,isHidden: false
				,pane: "floatPane"
				,enableEventPropagation: false
			};
		var infoBox = new InfoBox(myOptions);


		var boxText = document.createElement("div");
		boxText.style.cssText = "height:150px;width:200px; margin-top: 8px; background: white; padding: 5px; position: relative;";
		boxText.innerHTML = "<span class='flag'></span>" + "Web Essentials<br>Redefining Web Development<br><br><br>#86, street 99 <br>Phnom Penh, 855 <br>CAMBODIA";
		infoBox.setContent(boxText);

		google.maps.event.addListener(marker, "click", function (e) {
			infoBox.open(maps, this);
			//if () {

			//}
		});
		infoBox.open(maps, marker);
	}
	initializeWorldMap();

</script>
<we:googleMap length="50" />
</f:section>