{namespace we=Tx_WeMap_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div id="map_canvas" style="width: 100%; height: 400px"></div>
<script type="text/javascript">
	var initLat = 23.800090;
	var initLon = 28.828125;
	var initZoom = 2;

	function initializeWorldMap() {
		var centerLatLng = new google.maps.LatLng(initLat, initLon);
		var myOptions = {
			zoom: initZoom,
			draggable: true,
			disableDefaultUI: false,
			center: centerLatLng,
			scrollwheel: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			zoomControlOptions: {
				style:google.maps.ZoomControlStyle.LARGE
			},
			mapTypeControl: false
		};

		var maps = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var marker = new google.maps.Marker({
			map: maps,
			icon: 'http://maps.google.com/mapfiles/marker.png',
			draggable: true,
			position: new google.maps.LatLng(49.47216, -123.76307),
			visible: true
		});

		var myOptions = {
				disableAutoPan: false
				,maxWidth: 0
				// set the position of map
				,pixelOffset: new google.maps.Size(-100,-202)
				,zIndex: null
				,boxStyle: {
					opacity: 1
				}
				,closeBoxMargin: "11px 27px -10px 0px"
				//,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
				,closeBoxURL: ""
				,infoBoxClearance: new google.maps.Size(1, 1)
				,isHidden: false
				,pane: "floatPane"
				,enableEventPropagation: false
			};
		var infoBox = new InfoBox(myOptions);

		infoBox.setContent('');
		maps.setZoom(4);
		var boxText = document.createElement("div");
		boxText.style.cssText = "height:150px;width:200px; margin-top: 8px; background: white; padding: 5px; position: relative;";
		boxText.innerHTML = "<span class='flag'></span>" + "this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. this is address. ";
		infoBox.setContent(boxText);

		google.maps.event.addListener(marker, "click", function (e) {
			infoBox.open(maps, this);
		});
		infoBox.open(maps, marker);
	}
	initializeWorldMap();

	/*function initialize() {
		var secheltLoc = new google.maps.LatLng(49.47216, -123.76307);

		var myMapOptions = {
			 zoom: 15
			,center: secheltLoc
			,mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var theMap = new google.maps.Map(document.getElementById("map_canvas"), myMapOptions);


		var marker = new google.maps.Marker({
			map: theMap,
			draggable: true,
			position: new google.maps.LatLng(49.47216, -123.76307),
			visible: true
		});

		var boxText = document.createElement("div");
		boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;";
		boxText.innerHTML = "City Hall, Sechelt<br>British Columbia<br>Canada";

		var myOptions = {
			 content: boxText
			,disableAutoPan: false
			,maxWidth: 0
			,pixelOffset: new google.maps.Size(-140, 0)
			,zIndex: null
			,boxStyle: {
			  background: "url('tipbox.gif') no-repeat"
			  ,opacity: 0.75
			  ,width: "280px"
			 }
			,closeBoxMargin: "10px 2px 2px 2px"
			,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
			,infoBoxClearance: new google.maps.Size(1, 1)
			,isHidden: false
			,pane: "floatPane"
			,enableEventPropagation: false
		};

		google.maps.event.addListener(marker, "click", function (e) {
			ib.open(theMap, this);
		});

		var ib = new InfoBox(myOptions);

		ib.open(theMap, marker);
	}
	initialize();*/
</script>
<we:googleMap length="50" />
</f:section>